@import url("https://fonts.cdnfonts.com/css/peak-sans?styles=146582&display=swap");
:root {
  unicode-range: U+30-39;
  font-display: swap;
  font-family: "Peak Sans", sans-serif;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
}

img,
video {
  max-width: 100%;
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
